{% load staticfiles %}

<html>
    <head>
        <script src="{% static 'js/riot+compiler.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <body class='container'>

            <tweet></tweet>

        <script type="riot/tag" src="{% static 'js/tweet.tag' %}"></script>
        <script>
            opts = {{ tweets|safe }} // initial tweets come from Django template tag
            riot.mount('tweet', opts)
        </script>
    </body>
</html>